// Colors

$white:#fff;
$gray: gray;
$steelblue: steelblue;
$grisdos:#f2f4f5;
$coral:coral;


// Fonts

$primaryfont: monospace;


// Font Size

$primary-large:1.5rem;
$primary-medium:.8125rem;


// Font Weight

$font-bold: bold;

//breakpoints
$bp-sm:576px;
$bp-md:768px;
$bp-lg:992px;
$bp-xl:1200px;

//container
$container-width:60rem;


