.navigation {
    padding: 10px;
    border-bottom: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(6,1fr);

    &__logo{
        align-self: center;
        align-items: center;
        grid-column-start:1;
        grid-column-end:3;
        font-size:$primary-large;
        font-weight: $font-bold;
        text-transform: uppercase;
        display: inline-block;
    }

    &__menu{
        grid-column-start:3;
        grid-column-end: 7;
}

    &__links{
        float: right;
    }
    &__item{
        display: inline-block;
        text-transform: uppercase;

        & a{
            text-decoration: none;
        }
    }
}

.nosotros{
    display: none;
}

@include respond-to($bp-sm){
    .nosotros{
        display: none;
    }
}
@include respond-to($bp-md){
    .nosotros{
        display: inline-block;
    }
}